{% extends "base.html" %}

{% block content %}


<div class="shadow-lg rounded-lg overflow-hidden mx-10">
    <table class="w-full table-fixed mt-10">
        <thead>
            <tr class="bg-gray-100">
                <th class="w-1/4 py-4 px-6 text-left text-gray-600 font-bold uppercase">Day</th>
                <th class="w-1/4 py-4 px-6 text-left text-gray-600 font-bold uppercase">Lunch</th>
                <th class="w-1/4 py-4 px-6 text-left text-gray-600 font-bold uppercase">Dinner</th>
            </tr>
        </thead>
        <tbody class="bg-white">
            {% for meal in meals %}
            <tr>
                <td class="py-4 px-6 border-b border-gray-200">{{ meal.meal_date }}</td>
                <td class="py-4 px-6 border-b border-gray-200 truncate">{{ meal.meal_dish_lunch }}</td>
                <td class="py-4 px-6 border-b border-gray-200 truncate">{{ meal.meal_dish_dinner }}</td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}